Repository Im-Rises/zalgo-generator-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github-ations, readme, sources, test

wip
  src/App.scss
Labels: sources

wip
  src/App.tsx
Labels: sources

wip
  src/components/InputRange.scss
  src/components/InputRange.tsx
  src/components/TextAreaInputOutput.scss
  src/components/TextAreaInputOutput.tsx
Labels: sources

wip
  src/App.scss
  src/App.tsx
  src/components/InputRange.scss
  src/components/TextAreaInputOutput.scss
  src/components/TextAreaInputOutput.tsx
Labels: sources

wip
  src/App.scss
  src/components/InputRange.scss
  src/components/InputRange.tsx
Labels: sources

wip
  src/App.scss
  src/components/InputRange.scss
Labels: sources

wip
  src/App.scss
  src/components/TextAreaInputOutput.scss
  src/components/TextAreaInputOutput.tsx
Labels: sources

wip
  src/index.scss
Labels: sources

wip
  src/index.scss
Labels: sources

wip
  src/components/TextAreaInputOutput.scss
Labels: sources

wip
  src/App.tsx
  src/components/TextAreaInputOutput.tsx
Labels: sources

Corrected code
  src/App.scss
  src/index.scss
Labels: sources

wip
  src/App.scss
  src/App.tsx
  src/components/TextAreaInputOutput.tsx
Labels: sources

wip
  src/App.scss
  src/index.scss
Labels: sources

New zalgo generator version
  package.json
  yarn.lock
Labels: repo

Changed min zalgo height value
  src/App.tsx
Labels: sources

New version
  README.md
  package.json
  src/components/InputRange.tsx
  yarn.lock
Labels: repo, readme, sources

Deploy to GitHub pages
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.b56dd832.css
  static/css/main.b56dd832.css.map
  static/js/787.ffac7c8b.chunk.js
  static/js/787.ffac7c8b.chunk.js.map
  static/js/main.ae986f30.js
  static/js/main.ae986f30.js.LICENSE.txt
  static/js/main.ae986f30.js.map
  static/media/github.255db585f8a0eb28a1e4deb91bde207d.svg
Labels: repo

.github/labeler.yml:

repo:
  - '*'

github-ations:
  - '.github/**/*.yml'

readme:
  - 'README.md'

sources:
  - 'src/**/*'

test:
  - 'test/*'
