Repository Im-Rises/zalgo-generator-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github-ations, readme, sources, test

Updated readme
  README.md
Labels: repo, readme

wip
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  tsconfig.json
  yarn.lock
Labels: repo, readme, sources

wip
  .eslintrc.js
  package-lock.json
  package.json
  yarn.lock
Labels: repo

wip
  package.json
  src/App.tsx
Labels: repo, sources

Added some rules to ESLint
  .eslintrc.js
Labels: repo

Added complete website
  src/App.scss
  src/App.tsx
  src/zalgo-generator.ts
Labels: sources

wip
  public/index.html
  src/react-app-env.d.ts
Labels: sources

wip
  package.json
  src/App.tsx
  src/index.tsx
  src/logo.svg
  src/reports/reportWebVitals.ts
  src/settings/react-app-env.d.ts
  src/test/setupTests.ts
  src/zalgo/zalgo-generator.ts
  yarn.lock
Labels: repo, sources

Corrected yarn depedency issue
  package-lock.json
  package.json
  yarn.lock
Labels: repo

wip
  package.json
Labels: repo

Updated website
  package.json
  src/App.css
  src/App.scss
  src/App.tsx
  src/index.scss
  src/zalgo/zalgo-generator.ts
Labels: repo, sources

wip
  src/App.css
  src/App.scss
  src/App.tsx
  src/zalgo/zalgo-generator.ts
Labels: sources

Adapted for phones
  src/App.css
  src/App.scss
Labels: sources

wip
  src/App.tsx
Labels: sources

Updated readme
  README.md
  public/logo192.png
  public/logo512.png
  src/App.css
  src/App.scss
  src/App.tsx
  src/test/App.test.tsx
Labels: repo, readme, sources

wip
  src/App.css
  src/App.scss
Labels: sources

Corrected size in phone mode
  src/App.css
  src/App.scss
Labels: sources

wip
  LICENSE
  package.json
Labels: repo

Added copy to clipboard
  package-lock.json
  src/App.css
  src/App.scss
  src/App.tsx
  yarn.lock
Labels: repo, sources

Updated scss
  src/App.css
  src/App.scss
Labels: sources

Initial commit
  README.md
Labels: repo, readme

Updating project
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/App.css
  src/App.scss
  src/App.tsx
  src/components/GitHubProjectPanel.scss
  src/components/GitHubProjectPanel.tsx
  src/constants/constant-zalgo-generator.ts
  src/images/github.svg
  src/index.css
  src/index.tsx
  src/settings/react-app-env.d.ts
  src/types/react-app-env.d.ts
  yarn.lock
Labels: repo, readme, sources

New website
  src/App.scss
  src/App.tsx
  src/types/react-app-env.d.ts
Labels: sources

wip
  src/App.tsx
Labels: sources

Added new actions
  .github/workflows/gh-pages-publish.yml
  .github/workflows/node.js.yml
Labels: github-ations

wip
  .eslintrc.js
  README.md
  package-lock.json
  package.json
  src/App.tsx
  src/components/InputRange.tsx
  src/components/TextAreaInputOutput.tsx
  src/setupTests.ts
  src/zalgo/zalgo-generator.ts
  yarn.lock
Labels: repo, readme, sources

wip
  src/App.tsx
  src/components/TextAreaInputOutput.tsx
Labels: sources

Updated page
  src/App.scss
  src/App.tsx
Labels: sources

wip
  README.md
  src/App.tsx
Labels: repo, readme, sources

wip
  src/App.scss
  src/App.tsx
  src/index.scss
Labels: sources

wip
  package.json
  src/App.scss
  src/App.tsx
  yarn.lock
Labels: repo, sources

wip
  src/App.scss
  src/App.tsx
Labels: sources

wip
  src/App.scss
Labels: sources

wip
  src/App.scss
  src/App.tsx
Labels: sources

wip
  src/App.scss
Labels: sources

wip
  src/App.scss
  src/components/GitHubProjectPanel.scss
Labels: sources

wip
  src/App.scss
Labels: sources

wip
  src/App.scss
Labels: sources

wip
  src/App.scss
Labels: sources

Updated page
  src/App.scss
  src/App.tsx
  src/components/TextAreaInputOutput.tsx
Labels: sources

.github/labeler.yml:

repo:
  - '*'

github-ations:
  - '.github/**/*.yml'

readme:
  - 'README.md'

sources:
  - 'src/**/*'

test:
  - 'test/*'
